$color-bg-main: #000308;
$color-text-main: #d6c9b6;
$color-accent: #d6c9b6;
$color-border-muted: #4a4b4d;

$section-padding-large: 120px;
$section-padding-medium: 70px;

$text-md: 1.2rem;
$text-lg: 1.5rem;